img{
   width: 100%;
}

h1,h2,h3{
   text-align: center;
   color: #cd9641;
}

ul,ol{
   color: grey;
   text-align: center;
   /* list-style-type: none; */
}

.back{
   text-align: center;
   display: block;
}
